* {
	padding-top: 0;
	margin: 0;
}
#header {
	background-color: #C3D9EE;
	width: auto;
	height: 250px;
}

#content {
	background-color: #269a74;
	width: auto;
	height: 600px;
}

#footer {
	background-color: #C3D9EE;
	height: 150px;
	width: auto;
}

#type{
	padding-top: 50px;
	padding-left: 10px;


}

#headleft {
	float: left;
	padding: 0;
	padding-left: 20px;
}

#headright {
	float: right;
	padding-top: 50px;
	padding-right: 20px;

}

h1 {
	padding: 0;
	margin: 0px;
}